/**
 * @Author: Jack Woods
 * @Date:   2019-01-29T17:06:17-08:00
 * @Email:  jackrwoods@gmail.com
 * @Filename: style.css
 * @Last modified by:   Jack Woods
 * @Last modified time: 2020-03-13T12:49:17-07:00
 */
/* Style the video: 100% width and height to cover the entire window */
#video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("../media/mu.png");
  background-size: cover;
}

/* Add some content at the bottom of the video/page */
.content {
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  padding-top: 5em;
  font-size: 3em;
}

.left-col {
  display: inline-block;
  width: 35%;
  padding: 2%;
  height: 3em;
  text-align: right;
  float: left;
  border-right: 3px solid #000;
  margin: 0px;
}
.right-col {
  display: inline-block;
  width: 55%;
  padding: 2%;
  height: 3em;
  text-align: left;
  float: right;
  border-left: 3px solid #000;
  margin: 0px;
}

.hiring-header {
  position: fixed;
  top: .3em;
  left: 0;
  text-align: justify;
  font-family: 'StratumNo2';
  background: rgba(146, 175, 215);
  color: #f1f1f1;
  padding: 20px;
  font-size: 2.5em;
}

.hiring-content {
  text-align: center;
  font-family: 'StratumNo2';
  position: fixed;
  width: 90%;
  top: 40%;
  left: 5%;
  right: 5%;
  margin: auto;
  color: #000;
  font-size: 2.5em;
  display: flex;
}
.hiring-content-h1 {
  color: rgba(146, 175, 215);
  font-size: 2em;
}
.hiring-content-h2 {
  color: rgba(0, 0, 0);
  font-size: 2em;
}


.hiring-footer {
  text-align: justify;
  font-family: 'StratumNo2';
  position: fixed;
  bottom: .3em;
  right: 0;
  background: rgba(146, 175, 215);
  color: #f1f1f1;
  padding: 20px;
  font-size: 2.5em;
}

h1 {
  font-family: 'StratumNo2';
  font-size: 3em;
  margin: 0px;
  line-height: 1;
}

/* Style the button used to pause/play the video */
.myBtn {
  font-size: 18px;
  padding: 10px;
  height: 4em;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
}

.myBtn:hover {
  background: #fff;
  color: black;
}

#featured {
  font-size: 18px;
  padding: 10px;
  height: 4em;
  border: 1px solid #fff;
  background: rgba(215, 63, 9, .7);
  color: #fff;
  cursor: pointer;
}

#featured:hover {
  background: #fff;
  color: black;
}
